button {
  background: #0037BA;
  border-radius: 5px;
  color: #FFFFFF;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 40px;
  color: #FFFFFF;
  padding-bottom: 10px;
}
.nav-bar {
  background: #324376;
  position: sticky;
  top: 0;
  left: 0;
}

.body-content {
  display: flex;
  flex-direction: row;
}
.style-round {
  box-shadow: 0px 11.9769px 27.9462px rgba(0, 0, 0, 0.16);
  height: 89.5vh;
}
.login-content {
  width: 350px;
  padding: 0 20px;
  position: fixed;
  top: 10%;
  left: 0;
  height: 90vh;
  z-index: 5;
}
.table-content {
  width: 57%;
  overflow-y: auto;
  margin-left: 350px;
  
}
@media (max-width: 1200px) {
  .reimburse {
    display: none;
  }
  .table-content {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .login-content {
    display: none;
  }
}
.reimburse {
  width: 300px;
  padding: 0 20px;
  position: fixed;
  top: 10%;
  right: 0;
}

label {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.divider {
  border-top: solid 2px #adb5bd;
  width: 10%;
  margin: 20px;
  margin-top: 10px;
}
.clear {
  color: #273a66;
}
.round-plus {
  background: red;
  padding: 20px;
  border-radius: 50%;
  color: #FFFFFF;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  cursor: pointer;
}
/* .icon {
  display: block;
} */
.select-field {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #242424;
  padding: 9px 0;
  border-radius: 5px;
}
.select-arrow {
  right: 10px;
  top: 8px;
}
.date-arrow {
  right: 20px;
  top: 13px;
}
select::-ms-expand {
  display: none;
}


.form-body {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.form-side {
  width: 50%;
  padding-right: 20px;
}
.file-side {
  width: 50%;
  border: #adb5bd 2px dashed;
  border-radius: 5px;
  padding: 20px;
}
.file-button {
  background: #adb5bd;
  padding: 8px;
  color: #0037BA;
  font-style: normal;
  font-weight: 600;
}
.file-text > p{
  font-weight: 400;
  font-size: 17px;
  line-height: 54px;
  color: #A6A9B7;
}
.file-text span {
  padding-right: 7px;
  font-size: 20px;
}
.save-button, .cancel-button, .loading-button {
 padding: 8px 20px;
 font-weight: 600;
}
.save-button {
  background: #0037BA;
  color: #FFFFFF;
  
}
.cancel-button {
  background: #adb5bd;
  color: #0037BA;
  margin-left: 15px;
  
}
.delete-button {
  background: transparent;
  color: red;
  font-weight: 600;
}
.circle-icon {
  size: 10px;
  color: #0037BA;
}
.form-circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-left: 5px;
}
.form-circle-red {
  background: #ef0303;
}
.form-circle-blue {
  background: #0037BA;
}
.dollar-icon {
  top: 0;
  left: 10px;
}
.dollar-input {
  padding-left: 25px;
}
.file-image {
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
}
.style-link {
  text-decoration: none;
  color: #ffffff;
}
.bttn-info {
  margin-right: 20px;
  
}

/* .container {
  border: #0037BA solid 3px;
} */


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.dollar-stylin {
  padding-left: 10px;
}